/* Thème sombre */

body.dark,
body.dark .modal-content {
	background: #121212;
	color: white;
}

body.dark #header.header-scrolled {
	height: 60px;
	background: #121212;
}

body.dark .section-title h2,
body.dark .section-mini-title h2,
body.dark h3.titre,
body.dark h3.resume-title,
body.dark .resume .resume-item h4,
body.dark a.nav-link.scrollto.active,
body.dark .navbar-mobile a.nav-link.scrollto,
body.dark a {
	color: white;
}

body.dark .stage #stage-flters,
body.dark .portfolio #portfolio-flters {
	background: none;
}

body.dark .stage #stage-flters li,
body.dark .portfolio #portfolio-flters li {
	background: #3d444d;
}


body.dark .portfolio-modal .close-modal {
	background-image: url(../img/cancel_sombre.svg);
}

body.dark .btn-primary {
	color: #fff;
	background: #3d444d;
	border-color: #cdd9e51a;
}

body.dark input:checked + .slider {
	background-color: #3d444d;
}


body.dark .service-wrapper .content .title {
	color: #121212;
}

body.dark ::-webkit-scrollbar-track {
	background: #FFF;
}

body.dark ::-webkit-scrollbar-thumb {
	background: #3d444d;
}

body.dark .certif_container,
body.dark .back-to-top,
body.dark .resume .resume-item h5,
body.dark .option--current {
	background: #3d444d;
}


body.dark .btn-primary:active:focus {
	box-shadow: 0 0 0 0.25rem rgb(95 98 100);
}

body.dark .btn-primary {
	background: #3d444d;
	border-color: #3d444d;
}

body.dark::-webkit-scrollbar-thumb {
	background: #3d444d;
}

body.dark .stage #stage-flters li,
body.dark .portfolio #portfolio-flters li {
	border: 2px solid #3d444d;
}

body.dark .section-title span,
body.dark a:hover {
	color: #5e6163;
}

body.dark .navbar-mobile ul {
	background: #121212;
}

body.dark .img-moi {
	box-shadow: 0 5px 50px 0 #3d444d, 0 0 0 7px #3d444d;
	background-color: #3d444d;
	color: #3d444d;
}



body.dark .section-title p {
	color: #fff !important;
	font-size: 17px;
}

body.dark .text-custom {
	color: #fff !important
}

body.dark .contact .php-email-form button[type=submit] {
	background: #3d444d;
}

body.dark .clients {
	background: #121212;
}

body.dark #footer .social-links a {
	background: #3d444d;
	color: #fff;
}

body.dark #footer .social-links a:hover {
	background: #121212;
}

body.dark .contact .social-links a:hover {
	border-color: #3d444d;
	background: #3d444d;
}

body.dark .stage .stage-wrap .stage-links a:hover,
body.dark .portfolio .portfolio-item .portfolio-info .details-link:hover,
body.dark .portfolio .portfolio-item .portfolio-info .preview-link:hover {
	color: #3d444d;
}

body.dark .breadcrumbs {
	background-color: #121212;
}

body.dark .resume .resume-item {
	border-left: 2px solid #3d444d;
}

body.dark .resume .resume-item::before {
	border: 2px solid #3d444d;
}

body.dark .spinner:before,
body.dark .spinner:after {
	background-image: url(../img/loader_sombre.svg);

}

body.dark .blog-slider {
	background: #3d444d;
}

body.dark .blog-slider__title,
body.dark .blog-slider__code,
body.dark .blog-slider__text {
	color: white;
}

/*--------------------------------------------------------------
# Projets PortFolio et Slider
--------------------------------------------------------------*/
body.dark .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
	color: #fff;
	background: rgb(112, 100, 100);
	border: 1px solid #3d444d
}

body.dark .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #ffffff;
}

body.dark .blog-slider__pagination .swiper-pagination-bullet-active {
	opacity: 1;
	background: #ffffff;
	height: 30px;
	box-shadow: 0px 0px 20px #ffffff;
}



body.dark .portfolio-details .portfolio-info {
	padding: 30px;
	box-shadow: 0px 0 30px rgba(59, 67, 74, 0.08);
}

body.dark .portfolio-details .portfolio-info h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}



body.dark .blog-slider__button {
	display: inline-flex;
	background-image: linear-gradient(147deg, #3d444d 0%, #a9bfce 74%);
	padding: 15px 35px;
	border-radius: 50px;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	justify-content: center;
	text-align: center;
	letter-spacing: 1px;
}

body.dark .loader_bg {
	background: #121212;
}

body.dark .spinner {
	background-image: url(../img/book-solid-white.svg);
}

body.dark .fa-snowflake {
	color: #fff;
}


body.dark .profile-card__img {
	width: 250px;
	height: 250px;
	margin: 20px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 4;
	box-shadow: 0 5px 50px 0 #3d444d, 0 0 0 7px #414344;
}

body.dark .postcard {
	color: #ffffff;
}

body.dark .tooltip {
	background-color: #3d444d;
}


body.dark .tooltip::before {
	border-bottom: 15px solid #3d444d;
}

body.dark .line-1 {
	color: whitesmoke;
}

body.dark .tablinks:before{
	background-image: linear-gradient(135deg, #3d444d 0%, #414344 100%);
}

body.dark .tablinks.active p,
  .tablinks.active:hover p {
	background: -webkit-linear-gradient(135deg, #3d444d 0%, #414344 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  body.dark .tablinks:hover p {
	color: #ffffff;
  }

  body.dark .wrapper_tabcontent:after {
	background-image: linear-gradient(135deg, #121212 0%, #3d444d 100%);  
  }


body.dark .service-wrapper {
	background: #3d444d;
}

body.dark .service-wrapper:hover {
	-webkit-box-shadow: 0 50px 35px rgba(47, 60, 78, .15) !important;
	box-shadow: 0 15px 35px rgb(255, 255, 255) !important;
	background: #3d444d;
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px);
	border-color: transparent;
	border-radius: 20px;
}

body.dark .red .postcard__title:hover{
	color: #3d444d;	
}

body.dark .red .postcard__bar{
	background-color: #3d444d;
}